@model UX.Models.ReasonWithUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AppReasonModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.appReasonModel.ReasonTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.appReasonModel.ReasonTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.appReasonModel.ReasonDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.appReasonModel.ReasonDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.appReasonModel.SortOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.appReasonModel.SortOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.appReasonModel.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.appReasonModel.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.appReasonModel.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.appUserModel.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.appReasonModel.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
